.hero__image {
    width: 100%;
}

.hero__intro {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.hero__title {
    font-family: 'Sora', sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
}

.hero__title-second {
    margin-top: 0px;
}

.hero__key {
    font-family: 'Sora', sans-serif;
    font-size: 40px;
    color: #2186FD;
}

.home__container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.reviews__container__home {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.primary__button {
    font-family: 'Sora', sans-serif;
    width: 120px;
    padding: 10px;
    border: 0;
    border-radius: 6px;
    color: white;
    background-image: linear-gradient(to top, #004391 0%, #0066db 51%, #2186FD 100%);
    font-weight: 600;
    cursor: pointer;
}

.secondary__button {
    padding: 8px 25px;
    border: 0;
    border-radius: 6px;
    color: white;
    background-color: #2186FD;
    font-weight: 600;
    margin-bottom: 1rem;
    cursor: pointer;
}