.hero__image {
    width: 100%;
}

.hero__intro {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.hero__title {
    font-family: 'Sora', sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
}

.hero__title-second {
    margin-top: 0px;
}

.hero__key {
    font-family: 'Sora', sans-serif;
    font-size: 40px;
    color: #2186FD;
}

.home__container {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}