@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Sora:wght@400;600;800&display=swap');

.container {
  margin: auto;
  max-width: 1200px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #0F0F1A;
  color: white;
}